CREATE EXTENSION IF NOT EXISTS pg_trgm;
/* CREATE EXTENSION IF NOT EXISTS fuzzystrmatch; */

CREATE USER gaming_club_inventory_user WITH PASSWORD 'secure_password';
CREATE DATABASE gaming_club_inventory;
ALTER DATABASE gaming_club_inventory OWNER TO gaming_club_inventory_user;
GRANT ALL PRIVILEGES ON DATABASE gaming_club_inventory TO gaming_club_inventory_user;

\c gaming_club_inventory_user
GRANT ALL ON SCHEMA public TO gaming_club_inventory_user;

CREATE INDEX IF NOT EXISTS idx_items_name_trgm ON items USING gin (name gin_trgm_ops);
CREATE INDEX IF NOT EXISTS idx_items_remarks_trgm ON items USING gin (remarks gin_trgm_ops);
CREATE INDEX IF NOT EXISTS idx_subcategories_name_trgm ON subcategories USING gin (name gin_trgm_ops);